.login-remember-me {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  div.login-remember-me-left,
  div.login-remember-me-right {
    height: 20px;
    display: flex;
    align-items: center;
  }

  div.login-remember-me-left label {
    margin-left: 5px;
  }

  div.login-remember-me-right {
    text-align: right;
  }
}

input.login-input {
  width: calc(100% - 22px);
}

.login-error {
  margin-bottom: 2px;
}
