.text-input {
  height: 20px;
  padding: 10px;
  border-radius: 8px;
  outline: none;

  font-size: 14px;
  letter-spacing: 0px;

  &::placeholder {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0px;
    color: #999999;
  }
}

.text-input.primary {
  color: #222222;
  border: 1px solid #dddddd;

  &:focus {
    border: 1px solid #cf001c;
  }
}

.text-input.full {
  width: 100%;
}

// checkbox input

.checkbox-input-box {
  display: inline-flex;
  position: relative;
  height: 14px;
  width: 14px;
  overflow: hidden;

  .checkbox-input {
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: bottom;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    margin: 0;

    height: inherit;
    width: inherit;
    border-radius: 2px;

    &:checked + svg {
      display: block;
    }

    &.primary {
      border: 1px solid #dddddd;
    }
  }

  svg {
    position: absolute;
    display: none;
    user-select: none;
    pointer-events: none;
    border-radius: 2px;
  }
}
