.button {
  height: 40px;
  border-radius: 8px;
  cursor: pointer;

  &.full {
    width: 100%;
  }

  &.fit {
    width: fit-content;
  }

  &.upper-case {
    text-transform: uppercase;
  }

  // varient
  &.primary {
    background: #cf001c 0% 0% no-repeat padding-box;
    border: 1px solid #941a25;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    transition: opacity 300ms ease;
    opacity: 1;

    &:focus {
      outline: none;
    }
  }

  &.primary:disabled {
    opacity: 0.3;
  }
}
