.link {
  &.primary {
    letter-spacing: 0px;
    color: #999999;

    &:hover {
      color: #cf001c;
    }
  }

  &.medium {
    font-size: 14px;
  }

  &.underline-none {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  transition: color 300ms ease;
}

.link-with-arrow {
  position: relative;

  .link-arrow {
    opacity: 0;
    position: absolute;
    top: 5px;
    transition: all 600ms ease;
    fill: #999999;
  }

  .link-arrow-text {
    transition: padding-left 300ms ease, padding-right 300ms ease;
  }


  &.left {
    .link-arrow {
      left: 0;
    }
  }

  &.right {
    .link-arrow {
      transform: rotate(180deg);
      right: 0;
    }
  }

  &.left:hover {
    .link-arrow {
      opacity: 1;
      fill: #cf001c;
      left: -5px;
    }

    .link-arrow-text {
      padding-left: 15px;
    }
  }

  &.right:hover {
    .link-arrow {
      opacity: 1;
      fill: #cf001c;
      right: -5px;
    }

    .link-arrow-text {
      padding-right: 15px;
    }
  }
}
