.nav-header {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 8px;
  height: 40px;

  ul.nav-header-ul-main {
    list-style: none;
    display: flex;

    li.nav-header-tiles {
      flex: 1;
      min-width: fit-content;
      cursor: pointer;
      height: 20px;
      padding: 10px 20px 10px 20px;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #222222;
      transition: 300ms background-color ease;
      position: relative;

      span.nav-header-sep {
        position: absolute;
        right: 0;
        height: 20px;
        border-right: 1px solid #aaaaaa;
      }

      ul.sub-nav-caller {
        width: calc(100% - 2px);
        position: absolute;
        top: 41px;
        left: 0;
        overflow: hidden;
        list-style: none;
        max-height: 0;
        transition: max-height 200ms ease-in-out;
        background-color: white;

        li.sub-nav-caller-tiles {
          padding: 10px 10px 0 10px;
          text-align: left;
          font-size: 12px;
          letter-spacing: 0px;
          color: #222222;
          position: relative;

          > ul.recur-sub-nav-caller {
            position: absolute;
            width: max-content;
            left: 100%;
            top: 0;
            color: black;
            list-style: none;
            max-width: 0;
            transition: max-height 200ms ease-in-out;
            overflow: hidden;
            background-color: white;

            li {
              > hr {
                border: none;
                padding-top: 10px;
                border-bottom: 1px solid #aaaaaa;
              }

              &:last-child {
                > hr {
                  border: none;
                }
              }
            }
          }

          &:hover {
            > ul.recur-sub-nav-caller {
              max-width: 100vh;
              border: 1px solid #cccccc;
              overflow: visible;
            }
          }

          hr {
            border: none;
            padding-top: 10px;
            border-bottom: 1px solid #aaaaaa;
          }

          &:last-child {
            hr {
              border: none;
            }
          }

          &:hover {
            background-color: #cf001c;
            color: white;
          }
        }
      }
    }

    li.nav-header-tiles:first-child {
      flex: unset;
      display: flex;
      align-items: center;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    li.nav-header-tiles:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      span.nav-header-sep {
        display: none;
      }
    }

    li.nav-header-tiles:hover {
      background-color: #cf001c;
      color: white;

      span.nav-header-sep {
        border-right: 1px solid #cf001c;
      }

      svg {
        fill: white;
      }

      ul.sub-nav-caller {
        color: black;
        max-height: 100vh;
        border: 1px solid #cccccc;
        border-top: none;
        overflow: visible;
      }
    }
  }
}
