#auth-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f3f4f9 0% 0% no-repeat padding-box;

  .auth-two-column {
    overflow: hidden;
    display: flex;

    width: 62%;
    height: 68%;

    min-width: 280px;
    min-height: 400px;

    max-width: 1170px;
    max-height: 640px;

    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 67px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 67px -29px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 67px -29px rgba(0, 0, 0, 0.75);
  }

  .auth-two-column .auth-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 58.12%;
    height: 100%;
    opacity: 0.7;
    background-image: linear-gradient(
        147deg,
        rgba(207, 0, 28, 0.7) 0%,
        rgba(148, 26, 37, 0.7) 100%
      ),
      url("../../assets/imgs/zgbg.png");
    background-size: cover;
    background-repeat: no-repeat;

    .auth-logo {
      margin-bottom: 30px;
      svg {
        width: 160px;
        height: 106px;
      }
    }

    .auth-header-1 {
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0px;
      color: #ffffff;
    }

    .auth-header-2 {
      font-size: 18px;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }

  .auth-two-column .auth-two {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 68.37%;

      div.auth-form-title {
        text-align: center;
        font-size: 16px;
        letter-spacing: 0px;
        color: #222222;
        margin-bottom: 5px;
      }

      div.auth-form-company-name {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0px;
        color: #cf001c;
        margin-bottom: 20px;
      }

      hr.auth-form-seperator {
        outline: none;
        border: none;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 2px;
      }

      div.auth-group-inputs {
        padding: 18px;
      }
    }
  }
}
